.navBar {
  background-color: @primary-red;
  overflow: hidden;

  @media @tablet {
    width: 800px;
    margin: 0 auto;
  }

  a {
    float: left;
    color: @primary-white;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;

    &:hover, &:active {
      background-color: @primary-white;
      color: @primary-red;
    }

    &:not(:first-child) {
      display: none;
    }

    @media @tablet {

      &:not(:first-child) {
      display: inherit;
      }
    }
  }

  a.icon {
    display: block;
    float: right;
    
    @media @tablet {
      display: none;
    }
  }
}

.navBar.responsive {
  position: relative;
}

.navBar.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navBar.responsive a {
  float: none;
  display: block;
  text-align: left;
}

