/* BreakPoints */
@desktop: (min-width: 750px);
@tablet: (min-width: 550px);


/* Primary Colors */
@primary-red: @red;
@primary-white: @white;
@primary-grey: @grey;
@off-white: @egg-white;

/* Button Colors */
// @primary-button-color: @primary-white;
// @primary-button-background-color: @primary-red;
// @primary-button-border-color: @primary-red;
// @primary-hover-button-color: @primary-red;
// @primary-hover-background-button-color: @off-white;
// @primary-hover-border-button-color: @off-white;

// @button-color: @primary-red;
// @button-background-color: @primary-white;
// @button-border-color: @light-grey-red;

// @hover-button-color: @very-dark-grey;
// @hover-border-button-color: @primary-red;


/* Colors */
@egg-white: #f3f3f3;
@grey: #464646;
@red: #a0001e;
@white: #ffffff;
@light-grey-red: #bbbbbb;
@very-dark-grey: #333333;
@dark-grey: #888888;